dma_read
dma_write
psmem
process-list_upa
pgd-walk
codedump
tlpperf
pcie_cfg_read
pcie_cfg_write

dump_mem
process-list
phys_addrs_from_mem_map
# debug_init_task
find_swapper0

core

a.out
core
phy
phy.c
System.map*
*.dump
